# Data Science Tools and Ecosystem

## Author
Tommaso Ghedini



In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List popular open source tools for Data Science
- Examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Scala
- Java
- C++

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Matplotlib
- Keras
- PyTorch
- SciPy

|Data Science Tools|
|:-:|
|TensorFlow|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335